body {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: "arial";

}

#container {

    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {

    font-size: 20px;
}
