body {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: courier;

}



#cabecera 
{
background: #33a;
box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
font-weight: bold;
color: white;
margin: 0;
padding: 0.5cm;
}


#cabecera #tagline{
    margin: 0,0,0,1cm;
    font-weight: normal;
    font-size: 0.3cm;

}

#container {

    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {

    font-size: 20px;
}

#post {
    padding: 1cm;
}
